<h1 class="display-4">Daftar Artikel</h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% artikel.forEach(function(artikel){ %>
            <tr>
                <td><%= artikel.id %></td>
                <td><%= artikel.title %></td>
                <td>
                    <!-- <form action="/artikel/edit/<%= artikel.id %>" method="post">
                        <input class="waves-effect waves-light btn" type="submit" name="edit" value="Edit">                        
                    </form> -->
                    
                    <a href="/artikel/edit/<%= artikel.id %>" class="waves-effect waves-light btn">EDIT</a>
                    <a href="/artikel/hapus/<%= artikel.id %>" class="waves-effect waves-light btn">HAPUS</a>
                    <!-- <form action="/artikel/hapus/<%= artikel.id %>" method="post">
                        <input class="waves-effect waves-light btn" type="submit" name="hapus" value="hapus">  
                    </form> -->
                </td>
            </tr>
        <%  }) %>
    </tbody>
</table>
